<launch>
    <!-- <arg name="vins_path" default="$(find vins_estimator)/config/"/>
    <arg name="system_id" default="cmu_rc2"/>
    <arg name="config_path" default="$(find vins_estimator)/config/ugv/$(arg system_id)_cam1_debug.yaml"/>
    <arg name="depth_config_path" default="$(find vins_estimator)/config/ugv/$(arg system_id)_cam1_debug.yaml"/>

    <node launch-prefix="nice -n -5" name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log">
        <param name="config_file" type="string" value="$(arg config_path)"/>
        <param name="depth_config_file" type="string" value="$(arg depth_config_path)"/>
        <param name="vins_folder" type="string" value="$(arg vins_path)"/>
        <param name="lio_world_frame" type="string" value="sensor_init"/>
        <param name="vins_world_frame" type="string" value="vins_world"/>
        <param name="camera_frame" type="string" value="vins_camera"/>
        <param name="lio_laser_frame" type="string" value="sensor"/>
        <param name="laser_frame" type="string" value="sensor"/>
        <param name="vins_imu_frame" type="string" value="vins_imu"/>
    </node> -->

    <arg name="vins_path" default="$(find mcviofrontend_test)/config/" />
    <arg name="config_path" default="$(find mcviofrontend_test)/config/MCVIO/MCVIO_frontend.yaml"/>

    <node name="mcviofrontend_test" pkg="mcviofrontend_test" type="mcviofrontend_test" output="screen" >
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$arg vins_path" />
    </node>
</launch>
